body {
    background-color: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin-top: 5em;
}

.card {
    margin-top: 5em;
}

.hide {
    display: none;
  }
  
  #game-won {
    color: rgb(163, 202, 253);
    font-size: 10em;
  }
  #game-lose {
    color: rgb(167, 26, 155);
    font-size: 10em;
  }
  #word-blanks {
    white-space: pre;
  }