body {
    background-color: rgb(189, 228, 179);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin-top: 5em;
}

.card {
    margin-top: 5em;
}

.hide {
    display: none;
  }
  
  #game-won {
    color: rgb(163, 202, 253);
    font-size: 10em;
  }
  #game-lose {
    color: rgb(167, 26, 155);
    font-size: 10em;
  }
  #word-blanks {
    white-space: pre;
  }

  a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #dddddd;
  }

.foot-link {
    align-content: left;
}

.navbar-footer {
    position: absolute;
    float: left;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}