html {
    background-color: rgb(189, 228, 179);
}

/* title Crystal Collector */
.cont01 {
    font-size: 3em;
    margin: auto;
    padding: .5em;
    background-color: rgb(106, 165, 255);
    text-align: center;
    border: solid .03em;
    border-color: black;
}

/* instructions */
.cont02 {
    font-size: 1em;
    margin: 1em;
    padding: .5em;
    background-color: rgb(252, 217, 122);
    border: solid .03em;
    border-color: black;
    width: 40%;
    float: left;
}

.cont02 p {
    margin-bottom: .8em;
} 

/* won lost */
.cont06 {
    font-size: 1em;
    text-align: left;
    margin: 1em;
    padding: .5em;
    background-color: rgb(207, 99, 250);
    border: solid .03em;
    border-color: black;
    width: 10%;
    float: right;
}

/* random goal number gen */
.cont03 {
    font-size: 1em;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: rgb(252, 150, 252);
    border: solid .03em;
    border-color: black;
    width: 15%;
    height: 3em;
    float: right;
}

/* gems */
.cont04 {
    text-align: center;
    margin: 1em;
    padding: .5em;
    background-color: rgb(215, 255, 142);
    border: solid .03em;
    border-color: black;
    width: 53.5%;
    float: right;
}

.gem {
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 5em;
    width: 5em;
}

/* Current guess total */
.cont05 {
    font-size: 1em;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: rgb(150, 240, 252);
    border: solid .03em;
    border-color: black;
    width: 15%;
    height: 3em;
    float: right;
}

.navbar-brand:after {
    clear: both;
  }

.navbar-nav {
    position: absolute;
    float: right;
}

.navbar-footer {
    position: absolute;
    float: left;
}

.img-thumbnail {
    position: relative;
    left: 2em;
}

.post-content {
    bottom: 2em;
    position: relative;
    left: 1.7em;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #dddddd;
  }

.foot-link {
    align-content: left;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}