body {
    background-color: rgb(189, 228, 179);
}

.crystals {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    align-items: center;
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
}